<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver/Editar Cursos</title>
</head>
<body>
    <script>
		function edit() {
            document.getElementById('title').innerText="Editar cursos";
            document.getElementById('submit').style.display = "block";
            document.getElementById('submit2').style.display = "block";
            document.getElementById('editBtn').style.display = "none";
            document.getElementById('edit').disabled = false;
		}

		function yesnoCheck() {
            if (document.getElementById('yesCheck').checked){
				document.getElementById('descripcion_modalidad').style.display = 'block';
				document.getElementById('descripcion_modalidad2').required = true;
			}else if(document.getElementById('noCheck').checked){
                document.getElementById('descripcion_modalidad2').value = '';
                document.getElementById('descripcion_modalidad2').required = false;
                document.getElementById('descripcion_modalidad').style.display = 'none';
            }
            if (document.getElementById('yesCheck2').checked){
				document.getElementById('nivel_responsabilidad').style.display = 'block';
				document.getElementById('nivel_responsabilidad2').required = true;
                document.getElementById('descripcion_formacion').required = true;
			}else if(document.getElementById('noCheck2').checked){
                document.getElementById('nivel_responsabilidad2').value = 'Institucional';
                document.getElementById('nivel_responsabilidad2').required = false;
                document.getElementById('descripcion_formacion').value = '';
                document.getElementById('descripcion_formacion').required = false;
				document.getElementById('nivel_responsabilidad').style.display = 'none';
            }
			if (document.getElementById('yesCheck3').checked){
				for(var i = 0 ; i < formprogramaCached.length ; i++){
					formprogramaCached[i].style.display = 'block';
					formprogramaCached[i].required = true;
				}
				document.getElementById("formprogramaTablaBtn").style.display = 'block';
				document.getElementById("formprogramaTablaBtn2").style.display = 'block';
				document.getElementById("formprogramaTablaNumber").value = formprogramaCached.length
			}else if(document.getElementById('noCheck3').checked){
			    for(var i = 0 ; i < formprogramaCached.length ; i++){
                    formprogramaCached[i].value = null;
					formprogramaCached[i].required = false;
					formprogramaCached[i].style.display = 'none';
				}
				document.getElementById("formprogramaTablaBtn").style.display = 'none';
				document.getElementById("formprogramaTablaBtn2").style.display = 'none';
				document.getElementById("formprogramaTablaNumber").value = 0;
            }
		    if (document.getElementById('yesCheck4').checked){
				for(var i = 0 ; i < formcursoCached.length ; i++){
					formcursoCached[i].style.display = 'block';
					formcursoCached[i].required = true;
				}
				document.getElementById("formcursoTablaBtn").style.display = 'block';
				document.getElementById("formcursoTablaBtn2").style.display = 'block';
				document.getElementById("formcursoTablaNumber").value = formcursoCached.length
			}else if(document.getElementById('noCheck4').checked){
			    for(var i = 0 ; i < formcursoCached.length ; i++){
                    formcursoCached[i].value = null;
					formcursoCached[i].required = false;
					formcursoCached[i].style.display = 'none';
				}
				document.getElementById("formcursoTablaBtn").style.display = 'none';
				document.getElementById("formcursoTablaBtn2").style.display = 'none';
				document.getElementById("formcursoTablaNumber").value = 0;
            }
		}
	</script>

    <h1 id="title">Ver Cursos</h1>

	<form action="" method="post" id="cursos">
        {% csrf_token %}
        <fieldset id="edit" disabled>
			<label>¿Existe un plan permanente de superación académica para el personal académico de tiempo completo que esté aprobado por la máxima autoridad personal o colegiada de la institución?</label><br>
			{% if desarrollo.hay_plan_permanente_superacion %}
                <input type="radio" onclick="javascript:yesnoCheck(); "name="{{form.hay_plan_permanente_superacion.name}}" value=true required="true" id="yesCheck3" checked="true">Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck(); "name="{{form.hay_plan_permanente_superacion.name}}" value=false required="true" id="noCheck3">No<br>
            {% else %}
                <input type="radio" onclick="javascript:yesnoCheck(); "name="{{form.hay_plan_permanente_superacion.name}}" value=true required="true" id="yesCheck3">Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck(); "name="{{form.hay_plan_permanente_superacion.name}}" value=false required="true" id="noCheck3" checked="true">No<br>
            {% endif %}
            <!--INICIO PRIMERA TABLA-->
            {% for obj in objs1  %}
            <table id="tabla-" style="display: block;">
                <tbody>
                    <tr>
                        <th><label for="id_nombre">Nombre:</label></th>
                        <td><input type="text" name="nombre" maxlength="200" id="id_nombre" value="{{obj.nombre}}"></td>
                    </tr>
                    <tr>
                        <th><label for="id_beneficios">Beneficios: </label></th>
                        <td><textarea name="beneficios" cols="40" rows="10">{{obj.beneficios}}</textarea></td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
            <div id="submit" style="display:none">
                <input type="text" style="display:none" id="formprogramaTablaNumber" name="formprogramaTablaNumber">
                <button style="display:none" id="formprogramaTablaBtn" onclick="javascript:addformprograma();" type="button">Agregar</button>
                <button style="display:none" id="formprogramaTablaBtn2" onclick="javascript:removeformprograma();" type="button">Quitar</button>
            </div>
            <!--FIN PRIMERA TABLA-->

            <label>¿Hay en la institución, unidad académica o carrera, programas para la actualización y superación del personal académico?</label></label><br>
            {% if desarrollo.hay_programas_superacion %}
                <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_programas_superacion.name}}" value=true required="true" id="yesCheck4" checked="true">Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_programas_superacion.name}}" value=false required="true" id="noCheck4">No<br>
            {% else %}
                <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_programas_superacion.name}}" value=true required="true" id="yesCheck4">Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_programas_superacion.name}}" value=false required="true" id="noCheck4" checked="true">No<br>
            {% endif %}
            <!--INICIO SEGUNDA TABLA-->
                {% for obj in objs2  %}
                    <table id="tabla2-0" style="display: block;">
                        <tbody>
                            <tr>
                                <th><label for="id_nombre">Nombre:</label></th>
                                <td><input type="text" name="nombre2-0" maxlength="200" id="id_nombre" value="{{obj.nombre}}"></td>
                            </tr>
                            <tr>
                                <th><label for="id_responsabilidad">Responsabilidad:</label></th>
                                <td>
                                    <select name="responsabilidad-0" id="id_responsabilidad" >
                                        {% if obj.responsabilidad == 'Institucional' %}
                                            <option value="Institucional" selected="selected">Institucional</option>
                                        {%else%}
                                            <option value="Institucional" >Institucional</option>
                                        {%endif%}
                                        {% if obj.responsabilidad == 'Unidad academica' %}
                                            <option value="Unidad academica" selected="selected">Unidad academica</option>
                                        {%else%}
                                            <option value="Unidad academica">Unidad academica</option>
                                        {%endif%}
                                        {% if obj.responsabilidad == 'Programa' %}
                                            <option value="Programa" selected="selected">Programa</option>
                                        {%else%}
                                            <option value="Programa">Programa</option>
                                        {%endif%}
                                        {% if obj.responsabilidad == 'Externo' %}
                                            <option value="Externo" selected="selected">Externo</option>
                                        {%else%}
                                            <option value="Externo">Externo</option>
                                        {%endif%}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="id_ultimo_anio">Ultimo anio:</label></th>
                                <td><input type="number" name="ultimo año-0" id="id_ultimo_anio" value="{{obj.ultimo_anio}}"></td>
                            </tr>
                            <tr>
                                <th><label for="id_penultimo_anio">Penultimo anio:</label></th>
                                <td><input type="number" name="penultimo año-0" id="id_penultimo_anio" value="{{obj.penultimo_anio}}"></td>
                            </tr>
                            <tr>
                                <th><label for="id_antepenultimo_anio">Antepenultimo anio:</label></th>
                                <td><input type="number" name="antepenultimo año-0" id="id_antepenultimo_anio" value="{{obj.antepenultimo_anio}}"></td>
                            </tr>
                            <tr>
                                <th><label for="id_numero_participantes">Numero participantes:</label></th>
                                <td><input type="number" name="numero de participantes-0" id="id_numero_participantes" value="{{obj.numero_participantes}}"></td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
            <div id="submit" style="display:none">
                <input type="text" style="display:none" id="formcursoTablaNumber" name="formcursoTablaNumber">
                <button style="display:none" id="formcursoTablaBtn" onclick="javascript:addformcurso();" type="button">Agregar</button>
                <button style="display:none" id="formcursoTablaBtn2" onclick="javascript:removeformcurso();" type="button">Quitar</button>
            </div>
            <!--FIN SEGUNDA TABLA -->

            <label>¿Existe alguna otra modalidad de apoyo al personal académico para su actualización y superación?</label></label><br>
            {% if desarrollo.hay_otra_modalidad %}
                <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_otra_modalidad.name}}" value=true id="yesCheck" required="true" checked="true">Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_otra_modalidad.name}}" value=false id="noCheck" required="true">No<br>
            {% else %}
                <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_otra_modalidad.name}}" value=true id="yesCheck" required="true">Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_otra_modalidad.name}}" value=false id="noCheck" required="true" checked="true">No<br>
            {% endif %}

            <label>Descríbala brevemente</label><br>
            <textarea name="{{form.descripcion_modalidad.name}}">{{desarrollo.descripcion_modalidad}}</textarea><br>

            <label>¿Existe algún programa para la formación de profesores?</label><br>
            {% if desarrollo.hay_plan_formacion %}
                <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_plan_formacion.name}}" value=true id="yesCheck2" required="true" checked="true">Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_plan_formacion.name}}" value=false id="noCheck2" required="true">No<br>
            {% else %}
                <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_plan_formacion.name}}" value=true id="yesCheck2" required="true">Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.hay_plan_formacion.name}}" value=false id="noCheck2" required="true" checked="true">No<br>
            {% endif %}

            <div id="nivel_responsabilidad" style="display: block">
				<label>Señale a qué nivel de responsabilidad se tiene:</label><br>
                <select name="{{form.nivel_responsabilidad.name}}" id="nivel_responsabilidad2">
                    {% if desarrollo.nivel_responsabilidad == 'Institucional' %}
                        <option value="Institucional" selected="selected">Institucional</option>
                    {%else%}
                        <option value="Institucional" >Institucional</option>
                    {%endif%}
                    {% if desarrollo.nivel_responsabilidad == 'Unidad academica' %}
                        <option value="Unidad academica" selected="selected">Unidad academica</option>
                    {%else%}
                        <option value="Unidad academica">Unidad academica</option>
                    {%endif%}
                    {% if desarrollo.nivel_responsabilidad == 'Programa' %}
                        <option value="Programa" selected="selected">Programa</option>
                    {%else%}
                        <option value="Programa">Programa</option>
                    {%endif %}
                </select>
                <br>
                <label>Describa brevemente en qué consiste:</label><br>
				<textarea name="descripcion_formacion">{{desarrollo.descripcion_formacion}}</textarea>
			</div>

		</fieldset>
        <button type="submit" name="Enviar" id="submit2" style="display:none">Enviar</button>
    </form>
    <button type="button" onclick="javascript:edit();" name="Editar" id="editBtn" style="display:block">Editar</button>
</body>
</html>