<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Limpiar Reclutamiento</title>
</head>
<body>
   <h1>Limpiar Reclutamiento</h1>
	<form action="" method="post" enctype="multipart/form-data" id="seleccion" >
		{% csrf_token %}

        <fieldset disabled id="fieldsetForm">
            <label><b>1.1.1</b>¿Existe un proceso formal de reclutamiento del personal académico?:</label><br>
            {% if proceso.Existe_proceso_formal %}
                <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Existe_proceso_formal.name}}" value=true id="yesCheck" required="true" checked="true"> Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Existe_proceso_formal.name}}" value=false id="noCheck" required="true"> No<br>
            {% else %}
                <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Existe_proceso_formal.name}}" value=true id="yesCheck" required="true"> Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Existe_proceso_formal.name}}" value=false id="noCheck" required="true" checked="true"> No<br>
            {% endif %}

            <div id="ifYes" style="display:block">
				<label>Describa de forma resumida los aspectos más importantes del proceso:</label><br>
				<textarea name="{{form.Descripcion_Proceso.name}}" id="textarea">{{proceso.Descripcion_Proceso}}</textarea>
			</div>

            <label>¿Hay un reglamento de reclutamiento del personal académico?:</label><br>
            {% if proceso.Hay_reglamento %}
                <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Hay_reglamento.name}}" value=true id="yesCheck2" required="true" checked="true"> Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Hay_reglamento.name}}" value=false id="noCheck2" required="true"> No<br>
            {% else %}
                <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Hay_reglamento.name}}" value=true id="yesCheck2" required="true"> Si<br>
			    <input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Hay_reglamento.name}}" value=false id="noCheck2" required="true" checked="true"> No<br>
            {% endif %}

            <div id="ifYes2" style="display:block">
                {% if proceso.evidencia.name %}
                    <output id="fileOut">Evidencia Arichivada: {{ proceso.evidencia }}</output>
                {% else %}
                    <output id="fileOut">Evidencia Arichivada: Ninguna.</output>
                {% endif %}
            </div>
        </fieldset>
        <button type="submit" id="clean" name="_method" value="delete">Limpiar</button>
	</form>
</body>
</html>