<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicializar Estrategias</title>
</head>
<body>
	<script>
		function yesnoCheck() {
			if (document.getElementById('yesCheck').checked || document.getElementById('yesCheck2').checked) {
				document.getElementById('ifYes').style.visibility = 'visible';
				document.getElementById('textarea').required = true;
			} else {
				document.getElementById('ifYes').style.visibility = 'hidden';
			}
		}
	</script>

	<h2>Inicializar estrategias</h2>

	<form action="/Estrategias/Agregar" method="post" id="estrategia">
		<fieldset>
			{% csrf_token %}

			<label>¿El programa cuenta con una estrategia para que todos los docentes que participan en él conozcan la relación, importancia y enfoque de todas y cada una de las asignaturas que lo forman para poder dar la orientación adecuada a la asignatura que imparten?:</label><br>
			<input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Hay_estrategia_asignaturas.name}}" value=true id="yesCheck" required="true"> Si<br>
			<input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Hay_estrategia_asignaturas.name}}" value=false id="noCheck" required="true"> No<br>

			<label>¿El programa cuenta con al menos una estrategia, para promover que todos los docentes que se forman en posgrado, tenga relación con las necesidades del programa educativo, desarrollo de cuerpos académicos y líneas de investigación, de manera que se resuelvan las brechas académicas del programa?</label></label><br>
			<input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Hay_estrategia_posgrado.name}}" value=true id="yesCheck2" required="true"> Si<br>
			<input type="radio" onclick="javascript:yesnoCheck();" name="{{form.Hay_estrategia_posgrado.name}}" value=false id="noCheck2" required="true"> No<br>

			<div id="ifYes" style="visibility:hidden">
				<label>Describir en qué consisten la o las estrategias institucionales:</label><br>
				<textarea name="{{form.Descripcion.name}}" form="estrategia" id="textarea"></textarea>
			</div>
		</fieldset>

		<button type="submit" name="Enviar">Enviar</button>
	</form>

</body>
</html>
